/*CSS file for styling HTML document*/
/*Color scheme variables*/
:root {
  --color1: #ff69b4;
  --color2: #f5e0e7;
  --color3: #f7cddb;
  --color4: #f0b1c7;
  --color5: #f18eb1;
  --color6: #f5568e;
}
/*General body style*/
body {
  background-color: var(--color1); 
  font-family: "Courier New", monospace;
  text-align: center; 
  margin: 0; 
  padding: 80px; 
}
/*Pink font color class*/
.pink-text {
  color: var(--color1); 
  font-weight: bold;
}
/*pink highlighter class*/
.pink-highlight {
  background-color: var(--color1);
}
/*resume.html specific styles*/
/*ID is used to style about section*/
#about {
  background-color: var(--color2);
}
/*ID is used to style experience section*/
#experience {
  background-color: var(--color3);
}
/*ID is used to style education section*/
#education {
  background-color: var(--color4);
}
/*ID is used to style skills section*/
#skills {
  background-color: var(--color5);
}
/*ID is used to style contact section*/
#contact {
  background-color: var(--color6);
}
/*unordered list styling*/
ul {
  width: fit-content;
  margin: 0 auto;
  text-align: left; 
}
/*Skills Table styling*/
table, th, td {
  border: 1px solid var(--color1);
  margin: 0 auto; 
  padding: 10px; 
  border-collapse: collapse; 
}
th {
  background-color: var(--color2);
}
td {
  background-color: var(--color3); 
}

/*Cover-letter.html specific styles*/
/*ID is used to style cover-letter section*/
#cover-letter {
  background-color: var(--color4); 
  padding: 20px; 
  border-radius: 5px; 
  margin: 20px auto; 
}

/*Career-Goals.html specific styles*/
/*ID is used to style Career-letter section*/
#career-goals {
  background-color: var(--color4); 
  padding: 20px; 
  border-radius: 5px; 
  margin: 20px auto; 
}