/*Color scheme variables*/
:root {
  --color1: #ff69b4;
  --color2: #f5e0e7;
  --color3: #f7cddb;
  --color4: #f0b1c7;
  --color5: #f18eb1;
  --color6: #f5568e;
}

/*Body style*/
body {
  background-color: var(--color1); 
  font-family: "Courier New", monospace;
}

/*Pink font*/
.pink-text {
  color: var(--color1); 
  font-weight: bold;
}

/*pink highlighter*/
.pink-highlight { background-color: var(--color1); }

/*resume.html styles*/
/*About section*/
#about { background-color: var(--color2); }
/*Experience section*/
#experience { background-color: var(--color3); }
/*Education section*/
#education { background-color: var(--color4); }
/*Skills section*/
#skills { background-color: var(--color5); }
#skills th { background-color: var(--color2); }
#skills td { background-color: var(--color3); }
#skills table, #skills th, #skills td {
  border: 1px solid var(--color1);
  padding: 10px; 
  border-collapse: collapse; 
}
/*Contact section*/
#contact { background-color: var(--color6);}
#contact th { background-color: var(--color2); }
#contact td { background-color: var(--color3); }
#contact table, #contact th, #contact td {
  border: 1px solid var(--color1);
  padding: 10px; 
  border-collapse: collapse; 
}


/*cover-letter.html styles*/
/*Cover-letter section*/
#cover-letter {
  background-color: var(--color4); 
}

/*career-goals.html styles*/
/*career-goals section*/
#career-goals {
  background-color: var(--color4); 
}