/*CSS file for styling HTML document*/

/*All page styles*/
/*Consistent styling for all pages*/
body {
  background-color: #ff69b4; 
  font-family: "Courier New", monospace;
  margin: 0; 
  padding: 80px; 
  text-align: center; 
}
/*Used to highlight specific text within the document*/
.highlight {
  color: #ff69b4;
  font-weight: bold;
}

/*resume.html specific styles*/
/*ID is used to style about section*/
#about {
  background-color: #f5e0e7;
}
/*ID is used to style experience section*/
#experience {
  background-color: #f7cddb;
  
}
/*ID is used to style education section*/
#education {
  background-color: #f0b1c7;
}
/*ID is used to style skills section*/
#skills {
  background-color: #f18eb1;
}

/*unordered list styling*/
ul {
  width: fit-content;
  margin: 0 auto;
  text-align: left; 
}
/*Skill Table styling*/
table, th, td {
  border: 1px solid #ff69b4;
  margin: 0 auto; 
  padding: 10px; 
  border-collapse: collapse; 
}

th {
  background-color: #f5e0e7;
}

td {
  background-color: #f7cddb; 
}

/*Cover-letter.html specific styles*/
/*ID is used to style cover-letter section*/
#cover-letter {
  background-color: #f0b1c7; 
  padding: 20px; 
  border-radius: 5px; 
  margin: 20px auto; 
}

/*Career-Goals.html specific styles*/
/*ID is used to style Career-letter section*/
#career-goals {
  background-color: #f0b1c7; 
  padding: 20px; 
  border-radius: 5px; 
  margin: 20px auto; 
}